@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

@font-face{
    font-family: myFont;
    src: url('../utils/font/Athletics-Regular.woff');
}

body{
    font-family: myFont;
}

/* button{
    padding: 10px 120px;
} */

button, p{
    font-family: 'Inter', sans-serif;
}

.test{
    font-family: myFont;
    font-weight: 400;
    letter-spacing: -3px;
    word-spacing: 0.5px;
}

.ahh{
    position: relative;
    overflow-y: hidden;
}

.ahh img{
    position: absolute;
}

.ehh{
    overflow: hidden;
    position: relative;
}

.ehh img{
    /* scale: 1.2; */
    position: absolute;
    top: 0;
}

.image img{
    margin: 10px;
    width: 200px;
}

.image::-webkit-scrollbar{
    display: none;
}
.colo{
    background: blue;
}


.same{
    height: 200px;
    margin: 15px 0;
    border-radius: 20px;
    overflow: hidden;
}


.sames{
    margin: 15px 0;
    border-radius: 20px;
}

.web{
    margin: 0 10px;
}

.web::-webkit-scrollbar{
    display: none;
}

.same img{
    background-size: cover;
}

.jug{
    display: flex;
    position: relative;
}

.img1{
    position: absolute;
    width: 250px;
    border-radius: 20px;
    height: 260px;
    overflow: hidden;
    top: 150px;
    transform: rotate(-8deg);
    left: -50px;
}

.img1 img{
    position: absolute;
    scale: 2;
    right: 30px;
    top: 80px;
}

.img2{
    position: absolute;
    width: 250px;
    border-radius: 20px;
    height: 260px;
    overflow: hidden;
    top: -100px;
    transform: rotate(5deg);
    left: 50px;
    z-index: -80;
}

.img2 img{
    position: absolute;
    scale: 1.8;
    right: -10px;
    top: 30px;
}

.img3{
    position: absolute;
    width: 250px;
    border-radius: 20px;
    height: 260px;
    overflow: hidden;
    top: 100px;
    transform: rotate(8deg);
    right: 50px;
    /* z-index: -80; */
}

.img3 img{
    position: absolute;
    scale: 1.8;
    right: -10px;
    top: 30px;
}

.form input,
.form textarea{
    background: rgba(135, 207, 235, 0.203);
    font-size: 20px;
    height: 65px;
}

/* .bgan{
    background: rgba(135, 207, 235, 0.203);
} */

.scroller::-webkit-scrollbar{
    display: none;
}

.toper{
    background: url('Images/business-women-talking-near-desk-during-coffee-break-hallway-big-corporation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.toper::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.topper{
    background: url('Images/business-women-talking-near-desk-during-coffee-break-hallway-big-corporation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.topper::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.full{
    width: 300px;
}

.capitalize .active{
    color: #1570EF;
}

.kere{
    box-shadow: 2px 2px 10px #1570ef68;
    width: 205px important;
}

.fuller{
    word-spacing: -2px;
    letter-spacing: -3px;
}

.disc{
    overflow: hidden;
    position: relative;
}

.disc1{
    overflow: hidden;
    position: relative;
}

.disc img{
    /* scale: 1.5; */
    position: absolute;
    top: 0;
    right: 100px;
}



.kizz{
    box-shadow: 0 2px 3px #1570ef68;
}

.kizz2{
    box-shadow: 0.5px 0.5px 5px #1570ef68;
    border: 1px solid #1570ef68;
}

.spenza img{
    height: 150px;
    margin: 20px;
}

.graddy{
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(#457ff5, #101828, transparent);
    left: 0;
    bottom: -48%;
    /* z-index: -9; */
}

.show{
    z-index: 9;
}

.caro{
    animation: 5s linear infinite scrolling;
    display: flex;
}

.again::-webkit-scrollbar{
    display: none;
}

.again{
    white-space: nowrap;
    display: flex;
}
/* 
@keyframes scrolling {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logo{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.logo::after{
    content: '';
    background: linear-gradient(to left , transparent, white);
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
}

.logo::before{
    content: '';
    background: linear-gradient(to right , transparent, white);
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
}

.loger{
    background-color: green;
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
}

.grider{
    display: inline-block;
    animation: 5s scrolling infinite linear;
}

.grider .kizz{
    display: inline-block;
    margin: 0 50px;
} */

/* .wili{
    display: flex;
    animation: 5s scrolling infinite linear;
} */

.wili img{
    height: 80px;
}

.popi{
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.607);
}

.split img{
    width: 600px;
    margin-top: 30px;
}
